################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Release
/SexyAppFramework/Debug
/SexyAppFramework/Release
